{% extends 'tasks/base.html' %}
{% block content %}
    <div class="container">

        <h2>Tareas</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form.title }}
            <input type="submit" name="create task">
        </form>

        {% for task in tasks %}
        <div>
            {% if task.complete %}
                <strike>{{ task }}</strike>
            {% else %}
                <p>{{ task }}</p>
            {% endif %}
            <a href="{% url 'tasks:update' task.id %}">Actualizar</a>
            <a href="{% url 'tasks:delete' task.id %}">Borrar</a>
        </div>
        {% endfor %}

    </div>
{% endblock %}